@media only screen and (max-width: 375px) {

  /* html, body {
    overflow-x: hidden;
  } */

  .landing__container {
    flex-direction: column;
  }

  .image {
    height: 30vh;
    width: 100%;
  }

}

