@media only screen and (max-width: 375px) {
  html,
  body {
    overflow-x: hidden;
    padding: 10px;
  }

  .landing__container {
    flex-direction: column;
  }

  .image {
    height: 30vh;
    width: 100%;
  }

  .panel:nth-of-type(1),
  .panel:nth-of-type(2) {
    display: none;
  }

  .panel {
    flex: 1;
  }

  .panel__description {
    opacity: 1;
  }

  .landing__container-description h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }

  .showcase-header {
    font-size: 28px !important;
    line-height: 36px !important;
    text-align: center;
    margin: 15px 0;
  }

  #navbar__list {
    display: none;
  }

  .fa {
    float: right;
    display: block;
  }
}

