.page__header {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  position: sticky;
  /* width: 100%; */
  top: 0;
  background-color: var(--main-bg-color);
  padding: 20px 0;
  z-index: 1;
}

#navbar__list {
  text-align: right;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  gap: 20px;
}

#navbar__list li {
  font-weight: 600;
  font-size: 17px;
  font-size: min(17px, 1.7vw);
  line-height: 30px;
  white-space: nowrap;
}

.menu__link.active {
color:var(--font-accent-color);
}

.navbar__menu .menu__link:hover {
  color: var(--font-accent-color);
  transition: ease 0.3s all;
  }
