/* @import url("media.css"); */
/*
  CSS Reset based on Josh Comeau's guide
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* End of CSS custom reset */
  
  
  /* Declare global variables */

  :root {
    --main-font-family: 'Source Sans Pro', sans-serif;
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: rgba(109, 4, 48, 0.05);
    --ternary-bg-color: rgba(10, 4, 60, 0.02);
    --font-main-color: #102A42;
    --font-accent-color: #EB5296;
    --border-radius: 30px;
  }

  /* General layout */

  body {
    background-color: var(--main-bg-color);
    color: var(--font-main-color);
    font-family: var(--main-font-family);
    font-weight: 400;
    padding: 15px 1.5em;
    display: flex;
    flex-direction: column;
  }

  .landing__container {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    /* to make border-radius work on div here: set overflow to hidden */
    overflow: hidden;
  }

  .landing__container-description {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
  }

  .image {
    width: 85%;
    background-image: url("/assets/images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .pink {
    color: var(--font-accent-color)
  }
